---
http_interactions:
  - request:
      method: get
      uri: https://apiv2.twitcasting.tv/users/twitcasting_jp
      body:
        encoding: UTF-8
        string: ''
      headers:
        X-Api-Version:
          - '2.0'
        Authorization:
          - Bearer A
    response:
      status:
        code: 200
        message: OK
      headers:
        X-We-Are-Hiring:
          - https://about.moi.st/ja/recruit/
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '59'
        X-Ratelimit-Reset:
          - '1568027311'
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"supporter_count":0,"supporting_count":0,"user":{"id":"182224938","screen_id":"twitcasting_jp","name":"ツイキャス公式","image":"http://imagegw02.twitcasting.tv/image3s/pbs.twimg.com/profile_images/921212699559604224/CSEvROHL_bigger.jpg","profile":"ツイキャスの公式アカウントです。ツイキャスに関するお知らせなどを投稿します。お問い合わせは
        https://t.co/4gCf7XVm7N までお願いします。","level":50,"last_movie_id":"565981658","is_live":false,"supporter_count":0,"supporting_count":0,"created":0}}'
    recorded_at: Mon, 09 Sep 2019 11:07:32 GMT
  - request:
      method: post
      uri: https://apiv2.twitcasting.tv/webhooks
      body:
        encoding: UTF-8
        string: '{"user_id":"182224938","events":["livestart","liveend"]}'
      headers:
        X-Api-Version:
          - '2.0'
        Authorization:
          - Basic B
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 201
        message: Created
      headers:
        X-We-Are-Hiring:
          - https://about.moi.st/ja/recruit/
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '59'
        X-Ratelimit-Reset:
          - '1568027312'
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"user_id":"182224938","added_events":["livestart","liveend"]}'
    recorded_at: Mon, 09 Sep 2019 11:07:33 GMT
recorded_with: VCR 5.0.0
