---
http_interactions:
  - request:
      method: get
      uri: https://apiv2.twitcasting.tv/users/a
      body:
        encoding: UTF-8
        string: ''
      headers:
        X-Api-Version:
          - '2.0'
        Authorization:
          - Bearer A
    response:
      status:
        code: 200
        message: OK
      headers:
        X-We-Are-Hiring:
          - https://about.moi.st/ja/recruit/
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '59'
        X-Ratelimit-Reset:
          - '1567948480'
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"supporter_count":2,"supporting_count":0,"user":{"id":"940631","screen_id":"a","name":"Andrei
        Zmievski","image":"http://twitcasting.tv/img/twitter_bigger_6.png","profile":"Founding
        member of Analog, a web design & development co-operative. Photographer, coder,
        beer lover and brewer, Russian, and San Franciscan.","level":1,"last_movie_id":null,"is_live":false,"supporter_count":0,"supporting_count":0,"created":0}}'
    recorded_at: Sun, 08 Sep 2019 13:13:40 GMT
  - request:
      method: post
      uri: https://apiv2.twitcasting.tv/webhooks
      body:
        encoding: UTF-8
        string: '{"user_id":"940631","events":["livestart","liveend"]}'
      headers:
        X-Api-Version:
          - '2.0'
        Authorization:
          - Basic A
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 201
        message: OK
      headers:
        X-We-Are-Hiring:
          - https://about.moi.st/ja/recruit/
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '59'
        X-Ratelimit-Reset:
          - '1567948482'
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"user_id":"940631","added_events":["livestart", "liveend"]}'
    recorded_at: Sun, 08 Sep 2019 13:13:42 GMT
recorded_with: VCR 5.0.0
