---
http_interactions:
  - request:
      method: post
      uri: https://apiv2.twitcasting.tv/webhooks
      body:
        encoding: UTF-8
        string: '{"user_id":"1","events":["livestart","liveend"]}'
      headers:
        X-Api-Version:
          - '2.0'
        Authorization:
          - Basic A
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 404
        message: Not Found
      headers:
        X-We-Are-Hiring:
          - https://about.moi.st/ja/recruit/
        X-Ratelimit-Limit:
          - '60'
        X-Ratelimit-Remaining:
          - '59'
        X-Ratelimit-Reset:
          - '1569079210'
        Content-Type:
          - application/json;charset=utf-8
      body:
        encoding: UTF-8
        string: '{"error":{"code":400,"message":"Bad Request"}}'
    recorded_at: Sat, 21 Sep 2019 15:19:11 GMT
recorded_with: VCR 5.0.0
